.splash__screen {
	width: 100%;
	padding: 40px;
	max-width: 800px;
	margin: 0 auto;

}
.splash__logo {
	text-align: right;
	width: 400px;
	margin: 0 auto;
}

.splash__logo-text {
	margin-top: 0;
	margin-right: 10px;
	font-weight: bold;
}

.splash__amd-logo {
	width: 100px;
}

.splash__logo-image {
	max-width: 100%;
}
