.vc-top-row {
	display: flex;
	flex-wrap: wrap;
	margin: 10px 10px 0;
}

.btn {
	@extend .lighten-1;
	@extend .green;
}

.btn.red.red--brand {
	background-color: $brand-red;
}

.snapshot-button,
.vc-button--preview {
	margin-left: auto;
}

.vc-switch {
	display: inline-block;
	padding-left: 10px;
	margin-bottom: 10px;
}

.vc-button {
	margin-bottom: 10px;
}

.center-call-button {
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
	&.is-hidden {
		display: none;
	}
}

.camera-controls {
	position: absolute;
	bottom: 10px;
	left: 10px;
	height: 120px;
	width: 130px;
	text-align: center;

	&.camera-controls--zoom {
		left: auto;
		right: 10px;
		display: flex;
		align-items: center;
	  justify-content: center;
		flex-direction: column;
		width: 36px;
	}
}

.cc-buttom {
	margin: 5px;
}

.cc-button-up,
.cc-button-down {
	display: block;
	margin: 5px auto;
}

.stethoscope-controls {
	display: flex;
	flex-direction: row;
	margin: 0 20px;
}
.stethoscope-label {
	line-height: 60px;
	margin-right: 5px;
}

.document__label-checkbox {
	position: absolute;
	right: -10px;
	bottom: -33px;
	text-align: center;
}
.button-wrapper {
	padding: 0 10px;
}
