$main-color: #2781a7;
$button-color: #26a69a;
$dark-gray: #222;

@import "base";
@import "general";
@import "nav";
@import "panes";
@import "form-controls";
@import "topbar";
@import "footer";
@import "modules/chat";
@import "modules/documents";
@import "modules/stethoscope";
