$main-color: #2781a7;
$button-color: #26a69a;
$brand-red: rgb(129,43,52);

@import "base";
@import "nav";
@import "panes";
@import "form-controls";
@import "topbar";
@import "footer";
@import "chat";
