.logo-wrapper {
	background: white;
	max-height: 70px;
}

.navbar-brand {
	display: inline-block;
}

.navbar {
	display: flex;
	justify-content: space-between;
}
.site-info {
	display: inline-block;
}

/* nav */
/* Side bar */
.device-sidebar {
	height: 100vh;
	display: flex;
	flex-direction: column;
	flex-basis: 200px;
	flex-shrink: 0;
	background-color: $main-color;
	position: sticky;
	top: 0;
	overflow: auto;
	width: auto;
}

.nav {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

nav .nav-icon {
	align-self: center;
	display: inline-block;
	height: 24px;
	margin-right: 15px;
	width: 24px;
}

.nav-item {
	width: 100%;
	&.active {
		@extend .darken-2;
	}

	&:last-child {
		margin-top: auto;
		@extend .green;
		@extend .lighten-1;
	}
}

.nav-link {
	display: flex;
}

.nav-link span{
  line-height: 56px;
  vertical-align: top;
}
