.pill-pane__wapper {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
}

.pill-pane {
	padding: 20px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 100%;

	@media screen and (min-width: 1200px) {
		flex-basis: 50%;
		padding: 20px 20px 20px 0;
		&:first-of-type {
			padding-left: 20px
		}
	}
}

.window-titlebar {
	background-color: $main-color;
	color: white;
	text-align: center;
	height: 40px;
}
.window-title {
	display: block;
	height: 40px;
	line-height: 40px;
}

.window-titlebar .btn {
	display: none;
}

.window-container {
	position: relative;
}

/* Window */
.window-container {
	@extend .z-depth-2;
	min-height: 600px;
}

.tab-content {
	flex-grow: 1;
	flex-basis: 100%;
}

.video-area {
	background: #666;
	min-height: 460px;
	margin: 0 10px;
	position: relative;
}

.image-area {
	@extend .grey;
	@extend .lighten-3;
	min-height: 460px;
	margin: 0 10px;
	position: relative;
	text-align: center;
}

/* vitals */

.vitals-container {
	margin-top: 20px;
}

/* Documents */
.document-card {
	text-align: center;

	.card-content {
		padding: 15px;
	}
}

.document-card-image {
	max-height: 150px;
	width: auto;
	max-width: 100%;
	object-fit: cover;
}

.window-body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.stetoscope-image {
	margin: 0 auto;
}
