.pill-pane__wrapper {
	flex-direction: column;
	display: flex;
	flex-basis: auto;
	flex-grow: 1;
	flex-wrap: wrap;
	padding-bottom: 100px;
	@media screen and (min-width: 993px) {
		flex-direction: row;
		padding-bottom: 60px;
	}
}

.pill-pane {
	display: flex;
	padding: 0 20px 20px;
	flex-grow: 1;
	flex-shrink: 1;

	@media screen and (min-width: 993px) {
		flex-basis: 50%;
		padding: 0 20px 20px 0;
		&:first-of-type {
			padding-left: 20px
		}
	}
}

.pane-container {
	flex: 1 1 auto;
	display: flex;
}

.window-content-wrapper {
	padding: 10px;
}

.window-titlebar {
	background-color: $main-color;
	color: white;
	text-align: center;
	height: 40px;
}
.window-title {
	display: block;
	height: 40px;
	line-height: 40px;
}

.window-titlebar .btn {
	display: none;
}

.window-container {
	position: relative;
	flex-basis: 100%;
}

/* Window */
.window-container {
	@extend .z-depth-2;
	overflow: auto;
}

.tab-content {
	flex-grow: 1;
	flex-basis: 100%;
}

.video-area {
	background: #666;
	min-height: 400px;
	margin: 0 10px 10px;
	position: relative;
}

.image-area {
	@extend .grey;
	@extend .lighten-3;
	min-height: 460px;
	margin: 0 10px;
	position: relative;
	text-align: center;
}

/* vitals */

.vitals-container {
	margin-top: 20px;
}

/* Documents */
.document-card {
	text-align: center;

	.card-content {
		padding: 15px;
	}
}

.card-image__wrapper {
	position: relative;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
}

.document-card-image {
	position: absolute;
	width: auto;
	max-width: 100%;
	object-fit: cover;
}

.window-body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.stetoscope-image {
	margin: 0 auto;
	max-width: 100%;
}

/* ecg */
.ecg-image {
	max-width: 100%;
}

.ecg-container {
	padding: 10px;
}

.ecg-button-wrapper {
	margin: 10px 10px 0;
}

.card-title--document {
	max-width: 100%;
	display: block;
	white-space: nowrap;
	overflow: hidden;
}

.title-bar__control {
	margin: 0 10px;
	color: white;
	i {
		font-size: 1em;

		&.large-icon {
			font-size: 2.5em;
		}
		&.medium-icon {
			margin: 10px;
			font-size: 1.5em;
		}
	}
}
.stethoscope-image {
	max-width: 100%;
}
