.patient-information__section {
	&:last-child {
		margin-right: 0;
	}

}

.top-bar {
	align-self: flex-start;
	flex-basis: 100%;
	margin: 0 20px 20px;
	padding: 10px 10px 0;
	@extend .z-depth-1;
	@extend .grey;
	@extend .lighten-5;
}

.patient-information {
	margin-bottom: 0;
	@media screen and (min-width: 992) {
		margin-bottom: 20px;
	}
}
