.patient-information__section {
	&:last-child {
		margin-right: 0;
	}

}
.top-bar__lower-row {
	flex-basis: 100%;
	margin-top: 10px;
	display: flex;
	padding: 0 20px;
}

.top-bar__station {
	margin: 0 10px 0 auto;
}

.top-bar {
	position: sticky;
	top: 0;
	background: white;
	align-self: flex-start;
	flex-wrap: wrap;
	display: flex;
	flex-basis: auto;
	flex-grow: 0;
	margin: 0 20px 20px;
	z-index: 99999;
}

.patient-information {
	@extend .z-depth-1;
	@extend .grey;
	@extend .lighten-5;
	padding: 0 10px;
	margin-bottom: 0;
	width: 100%;

	.input-field {
		margin-top: 0;
	}
}

.customer-logo {
	img {
		width: auto;
		max-height: 50px;
		align-self: center;
		margin-top: 0;
		@media screen and (min-width: 992px) {
			margin-top: 8px;
		}
	}
}
